<style>
body {
background-color: #34383D;
}
</style>

<!--<div class="top-green"></div>-->
<!--<div style="text-shadow: 0 -1px 0 rgba(0,0,0,.15);
background-color: #98c62c;
border-color: #98c62c;
box-shadow: 0 1px 0 rgba(255,255,255,.1);width: 100%; height:70px; left:0; right:0; position:absolute;"></div>-->
<!--<div id="panning" class="panning"></div>-->
<div class="front-bg">

<div class="icon-links">
	<%= link_to image_tag("twitter.png", :alt => "JoshAndersonInc", :class => 'icon-pad'),  "https://twitter.com/JoshAndersonInc" %>
	<%= link_to image_tag("github.png", :alt => "JoshAnderson5", :class => 'icon-pad'),  "https://github.com/JoshAnderson5" %>
	<%= link_to image_tag("dribbble.png", :alt => "JoshAndersonInc", :class => 'icon-pad'),  "https://dribbble.com/JoshAndersonInc" %>
</div>

	<div class="container">
		<div class="fullname">JOSH ANDERSON</div>
	    <div class="email">joshua.aaron.anderson@gmail.com</div> 
	       <ul style="text-align:center; margin: 20px 0px 0px 265px;"> 
	            
	            <div>
	            <li class="masthead"><%= link_to "About Me", homepage_aboutme_path, class: "green-links"  %></li>
	            <!--<li class="masthead" ><%= link_to "Projects", homepage_projects_path, class: "green-links"  %></li> 
	            <li class="masthead"><%= link_to "Resume", "https://www.dropbox.com/s/deija9f7twmrdck/JoshAndersonResume%202014.doc", class: "green-links"  %></li>
	            <li class="masthead" ><%= link_to "Blog", "http://technologistgroup.com/blog/", class: "green-links"  %></li>
	            <li class="masthead" ><%= link_to "Contact Me", homepage_contactme_path, class: "green-links" %></li>-->    
	                    
	            </div>
	          </ul>
	</div> 
</div>
<div class="container">
		
</div>