<style>
body {
background-color: #34383D;
}
</style>

<!--<div class="top-green"></div>-->
<!--<div style="text-shadow: 0 -1px 0 rgba(0,0,0,.15);
background-color: #98c62c;
border-color: #98c62c;
box-shadow: 0 1px 0 rgba(255,255,255,.1);width: 100%; height:70px; left:0; right:0; position:absolute;"></div>-->
<!--<div id="panning" class="panning"></div>-->
<div class="front-bg">
	<div class="container">
		<div style="float:left">
		
		</div>

			  <ul class="nav-white" style="background: white; height: 75px; left: 0; right: 0; position: absolute; -webkit-box-shadow: 0px 0px 3px 1px rgba(151, 151, 151, 0.89);"> 
	                 <div class="container">
	                 <span class="nav">
	                 <%= link_to image_tag("personallogo-name.png", :alt => "JA Logo", :size => "270x60", :style => "float:left; margin-right:50px;margin-top:10px;"), root_path %>
	                 
	                 <li class="masthead"><%= link_to "About Me", homepage_aboutme_path, class: ""  %></li>
	                 <li class="masthead"><%= link_to "Uvalue", homepage_uvalue_path, class: "btn btn-outline-inverse btn-lg"  %></li>
	                 <li class="masthead"><%= link_to "Technologist Group", homepage_technologistgroup_path, class: "btn btn-outline-inverse btn-lg"  %></li>
	                 <li class="masthead" ><%= link_to "Active Projects", homepage_projects_path, class: "btn btn-outline-inverse btn-lg"  %></li>
	                 <li class="masthead" ><%= link_to "Blog", blogs_path, class: "btn btn-outline-inverse btn-lg"  %></li>
	                 <li class="masthead" ><%= link_to "Contact Me", homepage_contactme_path, class: "btn btn-outline-inverse btn-lg" %></li>
	                    </span>
	                 </div>
	          </ul>
	          <div style="float:right;margin-right:100px;margin-top:210px; width:500px;">
	          <h1>Business, Product, & Design</h1>
	          I'm young and motivated UX and UI designer with great business and design background. Have helped many startups and businesses to improve their products and services. Specialised on Product development, UI Design, UX Design, Interaction Design Graphic Design, business development. More about me from Twitter & latest works from Dribbble .
	          </div>
	</div>
</div>
<div class="container">
		<div class="post-thumb">ddd</div>
		<div class="post-thumb">ddd</div>
		<div class="post-thumb">dd</div>
</div>