<%= render 'layouts/innerpage' %>

<!--<h3>Tracc App</h3>-->
	<div class="portfolio-item">
	<div class="project-title">Uvalue - Rails Project</div>
	<%= link_to image_tag("Uvalue.PNG", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>

<!--<h3>Uvalue</h3>-->
	<div class="portfolio-item">
	<div class="project-title">Technologist Group - Php</div>
	<%= link_to image_tag("TG-frontpage.PNG", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>


	<div class="portfolio-item">
	<div class="project-title">Pricing Table - Photoshop</div>
	<%= link_to image_tag("pricetable.png", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>


	<div class="portfolio-item">
	<div class="project-title">Tracc App - Rails Project</div>
	<%= link_to image_tag("TraccApp.jpg", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>