<%= render 'layouts/innerpage' %>

<span class="back-link" style="margin-top: -48px;"><a href="https://github.com/JoshAnderson5">View My Github Profile</a></span>

<div class="icon-project">
<%= link_to image_tag("browser256.png", :alt => "Website Icon", :class => 'frame'),  "" %>
</div>

<div class="list-group">
      <a href="#" class="list-group-item active">
        <h3 class="list-group-item-heading" style="text-align:center;">Recent Projects</h3>
        <p class="list-group-item-text" style="text-align:center;">Below is a list of some of the projects I've worked on over the last few years. Hopefully it gives you a better insight into some of my capabilities.</p>
      </a>

      <a href="/projects/uvalue" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">Uvalue</h4>
        <p class="list-group-item-text" style="text-align:center;">Wireframes, Photoshop, Php, Linux, Html, CSS, Javascript, JQuery</p>
      </a>
      <a href="/projects/technologistgroup" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">The Technologist Group</h4>
        <p class="list-group-item-text" style="text-align:center;">Wordpress, Php, Html, CSS, Responsive Design, JQuery</p>
      </a>
      <a href="/projects/epitome" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">Epitome of Soul</h4>
        <p class="list-group-item-text" style="text-align:center;">Wordpress, Php, Html, CSS, JQuery</p>
      </a>
      <a href="/projects/stgabriels" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">St. Gabriel's Church Website</h4>
        <p class="list-group-item-text" style="text-align:center;">Photoshop, Wordpress, Php, Html, CSS, Responsive Design</p>
      </a>
      <a href="/projects/norman" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">NormanFranklin.com</h4>
        <p class="list-group-item-text" style="text-align:center;">Wordpress, Php, Html, CSS, Javascript</p>
      </a>
      <a href="/projects/99designs" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">Design Work from 99Designs</h4>
        <p class="list-group-item-text" style="text-align:center;">Photoshop, Heavy Iteration Based on Client Feedback</p>
      </a>
 </div>


<!--<h3>Tracc App</h3>
	<div class="portfolio-item">
	<div class="project-title">Uvalue - Rails Project</div>
	<%= link_to image_tag("Uvalue.PNG", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>-->

<!--<h3>Uvalue</h3>
	<div class="portfolio-item">
	<div class="project-title">Technologist Group - Php</div>
	<%= link_to image_tag("TG-frontpage.PNG", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>-->


	<!--<div class="portfolio-item">
	<div class="project-title">Pricing Table - Photoshop</div>
	<%= link_to image_tag("pricetable.png", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>


	<div class="portfolio-item">
	<div class="project-title">Tracc App - Rails Project</div>
	<%= link_to image_tag("TraccApp.jpg", :alt => "JoshAndersonInc", :class => 'frame'),  "" %>
	</div>-->