<div class="left-inner">

<ul class="nav-white"> 
				<div class="profile-link"><%= link_to "Joshua Anderson", root_path %></div>
				<div class="profile">
					
				</div>
	                 <span class="nav">
	                 <!--<li class="masthead" style="margin-top: -10px;"><h1>JoshAnderson.co</h1></li>-->
	                 <li><%= link_to "About Me", homepage_aboutme_path, class: "sidebar-links"  %></li>
	 				 <li><%= link_to "Resume", "https://www.dropbox.com/s/f7zytq7s963ihkw/JAndersonResume2014.pdf", class: "sidebar-links"  %></li>
	                 <li><%= link_to "Projects", homepage_projects_path, class: "sidebar-links"  %></li>
	                 <li><%= link_to "My Blog", "http://technologistgroup.com/blog/", class: "sidebar-links"  %></li>
	                 <li><%= link_to "Contact Me", homepage_contactme_path, class: "sidebar-links" %></li>
	                 </span>
	          </ul>
</div>

<div class="right-inner">
	<div class="hero-wrap">
		<br/>
		<span class="heading-title"><%= @title %></span>
	</div>
		<div class="page-layout">

