<div class="left-inner">

<ul class="nav-white"> 
				<h4 style="color:white; font-weight:bolder;">Joshua Anderson</h4>
				<div class="profile"></div>
	                 <span class="nav">
	                 <!--<li class="masthead" style="margin-top: -10px;"><h1>JoshAnderson.co</h1></li>-->
	                 <li><%= link_to "About Me", homepage_aboutme_path, class: "sidebar-links"  %></li>
	                 <li><%= link_to "Uvalue", homepage_uvalue_path, class: "sidebar-links"  %></li>
	                 <li><%= link_to "Technologist Group", homepage_technologistgroup_path, class: "sidebar-links"  %></li>
	                 <li><%= link_to "Active Projects", homepage_projects_path, class: "sidebar-links"  %></li>
	                 <li><%= link_to "My Blog", blogs_path, class: "sidebar-links"  %></li>
	                 <li><%= link_to "Contact Me", homepage_contactme_path, class: "sidebar-links" %></li>
	                 </span>
	          </ul>

<%= render 'layouts/mailchimp' %>
</div>

<div class="right-inner">
	<div class="hero-wrap">
		<br/>
		<span style="margin-top: 20px; padding:20px; font-size:24pt; font-weight:bolder;"><%= @title %></span>
	</div>
		<div style="padding:20px;">

